[user]
    email = j5088794@gmail.com
    name = bluethon
[core]
    # cjk
    quotepath = false
    editor = vim
    excludesfile = /home/blue/.gitignore_global
[push]
    default = simple
[alias]
    st = status
    cm = commit
    ps = push
    pl = pull
    co = checkout
    cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[http]
    proxy = socks5://localhost:1080
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
